<header>
    <p><a href="/">Home</a></p>
    <p><a href="/trips">Trips</a></p>
    <p><a href="/add-trip">Add Trip</a></p>
    <p><a href="/register">Register</a></p>
    <p><a href="/login">Login</a></p>
    <p><a href="/logout">Logout</a></p>
    <p><a href="/trips/my-trips">My Trips</a></p>
</header>