body {
    font-family: sans-serif;
    background-image: radial-gradient(white, lightblue);
}

a {
    text-decoration: none;
    color:white;
}

header {
    display:flex;
    background-color: #1b1b1b;
    justify-content: space-between;
    padding: 0 15px;
}

#chatMessageTextBox {
    margin: 10px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
   
}
