<html>
<head>
<link rel="stylesheet" href="/css/styles.css" >
</head>

<body>
{{>menu}}
    <h1>Manage your trips with the trip app</h1>

    {{name}}
    {{departDate}}
    {{returnDate}}

</body>
</html>