<html>
<body>
    <form action="/add-trip" method="POST">
        <input type="text" name="cityName" />
        <input type="text" name="departDate" />
        <input type="text" name="returnDate" />
        <button>Save</button>
    <form>

</body>

</html>
